body.mainClass{
  font-family: 'Prompt', sans-serif;
  color: #003d69;
  font-size: 14px; background-image:url("/assets/images/bg.png"); background-repeat: no-repeat; background-position: center; background-attachment:fixed; background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.loginBody{
  font-family: 'Prompt', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(0deg,#003b71 0,#015CAF 100%);
}

select{
  -moz-appearance:none;
}

.font-promt{
    font-family: "Prompt" !important;
}
.font-verdana{
	font-family: 'Verdana', sans-serif !important;
}

textarea {
  resize: none;
}

.wrapper {
  margin-top: 120px;
}

#referfriend-icon{
    position:fixed; top:70px; right: 28px; z-index: 1031; font-size:14px;
}

.modal{
  -webkit-overflow-scrolling: touch;
}

.modal-dialog{
    overflow-y: initial !important
}


.dropdown-toggle{
    margin-top: 5px !important;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 0.4em solid;
    border-right: .4em solid transparent;
    border-bottom: 0;
    border-left: .4em solid transparent;
    margin-top:10px !important;
}

.dropdown-toggle[aria-expanded="true"]::after {
   /* display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 0;
    border-right: .4em solid transparent;
    border-bottom: 0.4em solid;
    border-left: .4em solid transparent;
    margin-top:10px !important; */
}

footer{
    background: #003d69;
    width: 100%;
    color: #ddd;
    font-size: 13px;
    border-top: 2px solid #ff4f03;
    padding: 15px;
    text-align: center;
    margin-top: 45px;
}

::placeholder {
    color: #ccc !important;
    opacity: 0.5;
	font-family: 'Prompt', sans-serif !important;
	font-weight:200; font-size:#11px !important;
}

:-ms-input-placeholder { 
    color: #ccc !important;
	font-family: 'Prompt', sans-serif !important; font-weight:200; opacity: 0.5; font-size:#11px !important;
}

::-ms-input-placeholder { 
    color: #ccc !important;
	font-family: 'Prompt', sans-serif !important; font-weight:200; opacity: 0.5; font-size:#11px !important;
}

.clear-padding{
	padding-left:0 !important; padding-right:0 !important; padding-top:0 !important; padding-bottom:0 !important;
}

.clear-margin{
	margin-left:0 !important; margin-right:0 !important; margin-top:0 !important; margin-bottom:0 !important;
}

.clear-margin-padding{
    margin:0; padding:0;
}

.mode-sm-open footer, .mode-sm footer, .mode-lg footer{
  position: static !important;
  text-align: center;
  background: #003d69;
  color: #ddd;
  font-size: 10px;
  border-top: 2px solid #ff4f03;
  padding: 15px;
  margin-top: 45px;
}

/* Modal info */
.modal-info{
    z-index: 1501 !important;
}

/* Icon size */
.ico-small{
    width: 6px;
}

.ico-medium{
    width: 16px;
}

.ico-larg{
    width: 24px;
}

/* modal */
.modal-content .modal-header-danger{
    background-color: rgb(217, 83, 79) !important;
}

.modal-content .modal-header-danger .modal-title{
    color: rgb(255, 255, 255) !important;
}

.modal-content .modal-header-warning{
    background-color: rgb(234, 130, 71) !important;
}

.modal-content .modal-header-warning .modal-title{
    color: rgb(255, 255, 255) !important;
}

.modal-content .modal-header-info{
       background-color: #003d69 !important;
}

.modal-content .modal-header-info .modal-title{
    color: rgb(255, 255, 255) !important;
}

/* Font size*/
.f-size10 {
  font-size: 10px !important;
}
.f-size11 {
  font-size: 11px !important;
}
.f-size12 {
  font-size: 12px !important;
}
.f-size13 {
  font-size: 13px !important;
}
.f-size14 {
  font-size: 14px !important;
}
.f-size15 {
  font-size: 15px !important;
}
.f-size16 {
  font-size: 16px !important;
}
.f-size17 {
  font-size: 17px !important;
}
.f-size18 {
  font-size: 18px !important;
}
.f-size19 {
  font-size: 19px !important;
}
.f-size20 {
  font-size: 20px !important;
}
.f-size22 {
  font-size: 20px !important;
}
.f-size24 {
  font-size: 24px !important;
}
.f-size26 {
  font-size: 26px !important;
}
.f-size28 {
  font-size: 28px !important;
}
.f-size32 {
  font-size: 32px !important;
}
.f-size36 {
  font-size: 36px !important;
}
.f-size40 {
  font-size: 40px !important;
}
.f-size42 {
  font-size: 42px !important;
}

.f-size45 {
  font-size: 45px !important;
}

.f-size48 {
  font-size: 48px !important;
}

.f-size50 {
  font-size: 50px !important;
}
/* font-weight */
.f-weight-400{
	font-weight : 400 !important;
}

.f-weight-500{
	font-weight : 500 !important;
}

.f-weight-600{
	font-weight : 600 !important;
}

.f-weight-700{
	font-weight : 700 !important;
}

.f-weight-800{
	font-weight : 800 !important;
}

.first-capitalize{

}
.first-capitalize:first-letter{
   text-transform:capitalize;
}
/*-theme color-*/
.clr-white {
  color: #ffffff !important;
}
.clr-darkblue {
  color: #003d69 !important;
}

.clr-orange {
  color: #ff4f03 !important;
}

.clr-red {
  color: #d0021b !important; 
}

.clr-lightgrey {
  color: #a6b2ac !important;
}

.clr-lightblue {
  color: rgba(0, 61, 105, 0.6) !important;
}

.clr-green {
  color: #417505  !important; 
}

.clr-grey {
  color: rgb(166, 178, 172) !important;
}
/*-theme bg-*/
.bg-darkblue {
  background-color: #003d69 !important;
}

.bg-orange {
  background-color: #fa7a50 !important;
}

.bg-red {
  background-color: #ff4f03 !important;
}

.bg-darkred{
	background-color: #7B1D0C !important;
}

.bg-lightgrey {
  background-color: #a6b2ac !important;
}

.bg-lightblue {
  background-color: rgba(0, 61, 105, 0.6) !important;
}

.bg-softcookie {
  background-color: #fff5e6 !important;
}

.bg-aliceblue{
    background-color: aliceblue !important;
}

.bg-green{
    background-color: #4CAF50 !important;
}

.bg-lightorange{
	background-color:#ED7D31 !important;
}

/* padding left*/
.pl-md-1{
    padding-left: 5px !important;
}

.pl-md-2{
    padding-left: 10px !important;
}

.pl-md-3{
    padding-left: 15px !important;
}

.pl-md-4{
    padding-left: 20px !important;
}

.pl-md-5{
    padding-left: 25px !important;
}

/* margin left*/
.ml-md-1{
    margin-left: 5px !important;
}

.ml-md-2{
    margin-left: 10px !important;
}

.ml-md-3{
    margin-left: 15px !important;
}

.ml-md-4{
    margin-left: 20px !important;
}

.ml-md-5{
    margin-left: 25px !important;
}

/* radius */
.border-radius-3{
	border-radius: 3px !important; -webkit-border-radius: 3px !important; -moz-border-radius: 3px !important;  -ms-border-radius: 3px !important; -o-border-radius: 3px !important; 
}

.border-radius-5{
	border-radius: 5px !important; -webkit-border-radius: 5px !important; -moz-border-radius: 5px !important;  -ms-border-radius: 5px !important; -o-border-radius: 5px !important; 
}

.border-radius-8{
	border-radius: 8px !important; -webkit-border-radius: 8px !important; -moz-border-radius: 8px !important;  -ms-border-radius: 8px !important; -o-border-radius: 8px !important; 
}

.border-radius-12{
	border-radius: 12px !important; -webkit-border-radius: 12px !important; -moz-border-radius: 12px !important;  -ms-border-radius: 12px !important; -o-border-radius: 12px !important; 
}

/* alignment */
.text-right-left, .text-right-center{
	text-align: right !important;	
}

.text-center-right, .text-center-left{
	text-align: center !important;	
}

.text-left-right, .text-left-center{
	text-align: left !important;
}

/* popper */
.popper_box, .popper_box_center, .popper_box_left, .popper_box_right {
   position: absolute; background: #cfe0ea;  border: 0px; padding: 10px 10px; position: absolute; width:270px;  max-width: 270px;  border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
   display: none; z-index:500;
}

.popper-arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #cfe0ea;
  position: absolute; bottom: -10px; left: 0px; z-index:500; display:none;
}

/*shape-circle*/
.shape-dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: -2px;
}

.question-mark-circle{
     border-radius: 50%;
     padding:1px 5px;
     border:1px solid rgba(0, 61, 105, 0.6);
     background:#eee;
     cursor:pointer; position: relative;
}

.question-mark-circle:after{
  content : "?";
}

.question-mark-circle:hover{
   background:#003d69 !important; color:#eee !important;
}

/* claim status */
/*Draft
• Open
• Closed-paid
• Rejected
• Closed without payment
• Re-Opened
*/

.claim-status-draft{
  color:#90928e !important;
}

.claim-status-open{
  color:#4fc714 !important;
}

.claim-status-closed-paid{
  color:#003d69 !important;
}

.claim-status-rejected{
  color:#ef2806 !important;
}

.claim-status-closed-without-payment{
  color:#fbc014 !important;
}

.claim-status-re-opened{
  color:#06edef !important;
}

/*-link-*/
a {
  color: #003d69;
}

a:hover {
  text-decoration: none;
}

a.hover-darkblue:hover {
  text-decoration: underline;
  text-decoration-color: #003d69 !important;
  color: #003d69 !important;
}

a.hover-orange:hover {
  text-decoration: underline;
  text-decoration-color: #fa7a50 !important;
  color: #fa7a50 !important;
}

a.hover-red:hover {
  text-decoration: underline;
  text-decoration-color: #d0021b !important;
  color: #d0021b !important;
}

a.hover-lightblue:hover {
  text-decoration: underline;
  text-decoration-color: rgba(0, 61, 105, 0.6) !important;
  color: rgba(0, 61, 105, 0.6) !important;
}

a.locale{
    padding: 3px 5px; text-decoration: none !important;
}

a.locale:hover{
    background-color: #fa7a50 !important;
}

a.locale img{
    width: 18px;
}

/*-theme text-*/
.page-title {
  font-size: 24px;
  font-family: "Prompt", sans-serif !important;
  color: #003d69;
  font-weight: 700;
}

.head-title,
.head-title-underline {
  font-size: 24px;
  font-family: "Prompt", sans-serif !important;
  color: #003d69;
  font-weight: 700 !important;
}

.head-title-underline{
  padding-bottom: 10px;
  border-bottom: 1px solid #003d69;
}

.text-title {
    color: #003d69 !important;
    font-family: 'Prompt', sans-serif !important;
    font-size: 18px;
	font-weight: 600 !important;
}

.label-blue {
  font-size: 12px;
  color: rgba(0, 61, 105, 0.6) !important;
  line-height: 1.61em;
  font-weight: 300;
}

/*-horizontal line-*/
.border-bottom {
    border-bottom: 1px solid #eee!important;
}

.line-darkblue {
  height: 1px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #003d69;
  display: block;
  width: 100%;
  content: " ";
}

.line-grey {
  height: 3px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #eee;
  display: block;
  width: 100%;
  content: " ";
}

.line-lightgrey {
  height: 1px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #f3f4f7 !important;
  display: block;
  width: 100%;
  content: " ";
}

/* Pagination */
.page-item .page-link {
    color:#fa7a50 !important;
    border: 1px solid #fa7a50 !important;
}

.pagination .disabled .page-link {
    color:#ddd !important;
    border: 1px solid #fa7a50 !important;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff !important;
    background-color: #fa7a50 !important;
    border-color: #fa7a50 !important;
}

/*badge */
.badge-primary {
  background-color: #f96332;
  border: 1px solid #f96332 !important;
  color: #ffffff;
}

.badge-primary:hover,
.badge-primary:focus,
.badge-primary:active,
.badge-primary.active,
.badge-primary:active:focus,
.badge-primary:active:hover,
.badge-primary.active:focus,
.badge-primary.active:hover{
  background-color: #fa7a50 !important;
  color: #ffffff !important;
  box-shadow: none;
}

.badge-primary:not([data-action]):hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
}

.badge-disabled{
    background-color: #f96332 !important;
    border-color: #f96332 !important;
    cursor: default;
    opacity: 0.5 !important;
    filter: alpha(opacity=50) !important;
}

.btn {
  border-radius: 30px !important;
  padding: 10px 18px 10px 16px;
  outline: unset !important;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus,
.btn:active:hover,
.btn.active:focus,
.btn.active:hover,
.show > .btn.dropdown-toggle,
.show > .btn.dropdown-toggle:focus,
.show > .btn.dropdown-toggle:hover,
.navbar .navbar-nav > a.btn:hover,
.navbar .navbar-nav > a.btn:focus,
.navbar .navbar-nav > a.btn:active,
.navbar .navbar-nav > a.btn.active,
.navbar .navbar-nav > a.btn:active:focus,
.navbar .navbar-nav > a.btn:active:hover,
.navbar .navbar-nav > a.btn.active:focus,
.navbar .navbar-nav > a.btn.active:hover,
.show > .navbar .navbar-nav > a.btn.dropdown-toggle,
.show > .navbar .navbar-nav > a.btn.dropdown-toggle:focus,
.show > .navbar .navbar-nav > a.btn.dropdown-toggle:hover {
  background-color: #979797;
  color: #ffffff;
  box-shadow: none;
}

.btn:not([data-action]):hover,
.navbar .navbar-nav > a.btn:not([data-action]):hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
}


.btn.btn-simple,
.navbar .navbar-nav > a.btn.btn-simple {
  color: #888888;
  border-color: #888888;
}

.btn.btn-simple:hover,
.btn.btn-simple:focus,
.btn.btn-simple:active,
.navbar .navbar-nav > a.btn.btn-simple:hover,
.navbar .navbar-nav > a.btn.btn-simple:focus,
.navbar .navbar-nav > a.btn.btn-simple:active {
  background-color: transparent;
  color: #979797;
  border-color: #979797;
  box-shadow: none;
}

.btn.btn-link,
.navbar .navbar-nav > a.btn.btn-link {
  color: #888888;
}

.btn.btn-link:hover,
.btn.btn-link:focus,
.btn.btn-link:active,
.navbar .navbar-nav > a.btn.btn-link:hover,
.navbar .navbar-nav > a.btn.btn-link:focus,
.navbar .navbar-nav > a.btn.btn-link:active {
  background-color: transparent;
  color: #979797;
  text-decoration: none;
  box-shadow: none;
}

.btn:hover,
.btn:focus,
.navbar .navbar-nav > a.btn:hover,
.navbar .navbar-nav > a.btn:focus {
  opacity: 1;
  filter: alpha(opacity=100);
  outline: unset !important;
}

.btn:active,
.btn.active,
.open > .btn.dropdown-toggle,
.navbar .navbar-nav > a.btn:active,
.navbar .navbar-nav > a.btn.active,
.open > .navbar .navbar-nav > a.btn.dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: unset !important;
}

.btn.btn-facebook{
  background-color: #3b5998;
  color: #fff;
}

.btn.btn-facebook:focus,
.btn.btn-facebook:active,
.btn.btn-facebook:hover,
.navbar .navbar-nav > a.btn.btn-facebook:focus,
.navbar .navbar-nav > a.btn.btn-facebook:active,
.navbar .navbar-nav > a.btn.btn-facebook:hover {
  background-color: #4466ae;
  color: #fff;
}

.btn.btn-twitter,
.navbar .navbar-nav > a.btn.btn-twitter {
  background-color: #55acee;
  color: #fff;
}

.btn.btn-twitter:focus,
.btn.btn-twitter:active,
.btn.btn-twitter:hover{
  background-color: #71baf1;
  color: #fff;
}

.btn.btn-pinterest,
.navbar .navbar-nav > a.btn.btn-pinterest {
  background-color: #cc2127;
  color: #fff;
}

.btn.btn-pinterest:focus,
.btn.btn-pinterest:active,
.btn.btn-pinterest:hover{
  background-color: #dd2e34;
  color: #fff;
}

.btn.btn-google{
  background-color: #dd4b39;
  color: #fff;
}

.btn.btn-google:focus,
.btn.btn-google:active,
.btn.btn-google:hover{
  background-color: #e16353;
  color: #fff;
}

.btn.btn-linkedin,a.btn.btn-linkedin {
  background-color: #0077b5;
  color: #fff;
}

.btn.btn-linkedin:focus,
.btn.btn-linkedin:active,
.btn.btn-linkedin:hover,
a.btn.btn-linkedin:focus,
a.btn.btn-linkedin:active,
 a.btn.btn-linkedin:hover {
  background-color: #008bd4;
  color: #fff;
}

.btn.btn-dribbble,
.navbar .navbar-nav > a.btn.btn-dribbble {
  background-color: #ea4c89;
  color: #fff;
}

.btn.btn-dribbble:focus,
.btn.btn-dribbble:active,
.btn.btn-dribbble:hover,
a.btn.btn-dribbble:focus,
a.btn.btn-dribbble:active,
a.btn.btn-dribbble:hover {
  background-color: #ed679b;
  color: #fff;
}

.btn.btn-youtube,
a.btn.btn-youtube {
  background-color: #e52d27;
  color: #fff;
}

.btn.btn-youtube:focus,
.btn.btn-youtube:active,
.btn.btn-youtube:hover,
a.btn.btn-youtube:focus,
a.btn.btn-youtube:active,
a.btn.btn-youtube:hover {
  background-color: #e84842;
  color: #fff;
}

.btn.btn-instagram,
a.btn.btn-instagram {
  background-color: #125688;
  color: #fff;
}

.btn.btn-instagram:focus,
.btn.btn-instagram:active,
.btn.btn-instagram:hover,
a.btn.btn-instagram:focus,
a.btn.btn-instagram:active,
a.btn.btn-instagram:hover {
  background-color: #1667a3;
  color: #fff;
}

.btn.btn-reddit,
a.btn.btn-reddit {
  background-color: #ff4500;
  color: #fff;
}

.btn.btn-reddit:focus,
.btn.btn-reddit:active,
.btn.btn-reddit:hover,
a.btn.btn-reddit:focus,
a.btn.btn-reddit:active,
a.btn.btn-reddit:hover {
  background-color: #ff5b1f;
  color: #fff;
}

.btn.btn-tumblr,
a.btn.btn-tumblr {
  background-color: #35465c;
  color: #fff;
}

.btn.btn-tumblr:focus,
.btn.btn-tumblr:active,
.btn.btn-tumblr:hover,
a.btn.btn-tumblr:focus,
a.btn.btn-tumblr:active,
a.btn.btn-tumblr:hover {
  background-color: #40556f;
  color: #fff;
}

.btn-primary {
  background-color: #f96332;
  border: 1px solid #f96332 !important;
  color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:focus,
.btn-primary.active:hover{
  background-color: #fa7a50 !important;
  color: #ffffff !important;
  box-shadow: none;
}

.btn-primary:not([data-action]):hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
}


.btn-primary.btn-simple {
  color: #f96332;
  border-color: #f96332;
}

.btn-primary.btn-simple:hover,
.btn-primary.btn-simple:focus,
.btn-primary.btn-simple:active {
  background-color: transparent;
  color: #fa7a50;
  border-color: #fa7a50;
  box-shadow: none;
}

.btn-primary.btn-link {
  color: #f96332;
}

.btn-primary.btn-link:hover,
.btn-primary.btn-link:focus,
.btn-primary.btn-link:active {
  background-color: transparent;
  color: #fa7a50;
  text-decoration: none;
  box-shadow: none;
}

.btn-success {
  background-color: #18ce0f;
  color: #ffffff;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success:active:focus,
.btn-success:active:hover,
.btn-success.active:focus,
.btn-success.active:hover,
.show > .btn-success.dropdown-toggle,
.show > .btn-success.dropdown-toggle:focus,
.show > .btn-success.dropdown-toggle:hover {
  background-color: #1beb11;
  color: #ffffff;
  box-shadow: none;
}

.btn-success:not([data-action]):hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
}


.btn-success.btn-simple {
  color: #18ce0f;
  border-color: #18ce0f;
}

.btn-success.btn-simple:hover,
.btn-success.btn-simple:focus,
.btn-success.btn-simple:active {
  background-color: transparent;
  color: #1beb11;
  border-color: #1beb11;
  box-shadow: none;
}

.btn-success.btn-link {
  color: #18ce0f;
}

.btn-success.btn-link:hover,
.btn-success.btn-link:focus,
.btn-success.btn-link:active {
  background-color: transparent;
  color: #1beb11;
  text-decoration: none;
  box-shadow: none;
}

.btn-info {
  background-color: #2ca8ff;
  color: #ffffff;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info:active:focus,
.btn-info:active:hover,
.btn-info.active:focus,
.btn-info.active:hover,
.show > .btn-info.dropdown-toggle,
.show > .btn-info.dropdown-toggle:focus,
.show > .btn-info.dropdown-toggle:hover {
  background-color: #4bb5ff;
  color: #ffffff;
  box-shadow: none;
}

.btn-info:not([data-action]):hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
}


.btn-info.btn-simple {
  color: #2ca8ff;
  border-color: #2ca8ff;
}

.btn-info.btn-simple:hover,
.btn-info.btn-simple:focus,
.btn-info.btn-simple:active {
  background-color: transparent;
  color: #4bb5ff;
  border-color: #4bb5ff;
  box-shadow: none;
}

.btn-info.btn-link {
  color: #2ca8ff;
}

.btn-info.btn-link:hover,
.btn-info.btn-link:focus,
.btn-info.btn-link:active {
  background-color: transparent;
  color: #4bb5ff;
  text-decoration: none;
  box-shadow: none;
}

.btn-warning {
  background-color: #ffb236;
  color: #ffffff;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning:active:focus,
.btn-warning:active:hover,
.btn-warning.active:focus,
.btn-warning.active:hover,
.show > .btn-warning.dropdown-toggle,
.show > .btn-warning.dropdown-toggle:focus,
.show > .btn-warning.dropdown-toggle:hover {
  background-color: #ffbe55;
  color: #ffffff;
  box-shadow: none;
}

.btn-warning:not([data-action]):hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
}


.btn-warning.btn-simple {
  color: #ffb236;
  border-color: #ffb236;
}

.btn-warning.btn-simple:hover,
.btn-warning.btn-simple:focus,
.btn-warning.btn-simple:active {
  background-color: transparent;
  color: #ffbe55;
  border-color: #ffbe55;
  box-shadow: none;
}

.btn-warning.btn-link {
  color: #ffb236;
}

.btn-warning.btn-link:hover,
.btn-warning.btn-link:focus,
.btn-warning.btn-link:active {
  background-color: transparent;
  color: #ffbe55;
  text-decoration: none;
  box-shadow: none;
}

.btn-danger {
  background-color: #ff3636;
  color: #ffffff;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger:active:focus,
.btn-danger:active:hover,
.btn-danger.active:focus,
.btn-danger.active:hover,
.show > .btn-danger.dropdown-toggle,
.show > .btn-danger.dropdown-toggle:focus,
.show > .btn-danger.dropdown-toggle:hover {
  background-color: #ff5555;
  color: #ffffff;
  box-shadow: none;
}

.btn-danger:not([data-action]):hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
}

.btn-danger.disabled,
.btn-danger.disabled:hover,
.btn-danger.disabled:focus,
.btn-danger.disabled.focus,
.btn-danger.disabled:active,
.btn-danger.disabled.active,
.btn-danger:disabled,
.btn-danger:disabled:hover,
.btn-danger:disabled:focus,
.btn-danger:disabled.focus,
.btn-danger:disabled:active,
.btn-danger:disabled.active,
.btn-danger[disabled],
.btn-danger[disabled]:hover,
.btn-danger[disabled]:focus,
.btn-danger[disabled].focus,
.btn-danger[disabled]:active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-danger:hover,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger.focus,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger.active {
  background-color: #ff3636;
  border-color: #ff3636;
}

.btn-danger.btn-simple {
  color: #ff3636;
  border-color: #ff3636;
}

.btn-danger.btn-simple:hover,
.btn-danger.btn-simple:focus,
.btn-danger.btn-simple:active {
  background-color: transparent;
  color: #ff5555;
  border-color: #ff5555;
  box-shadow: none;
}

.btn-danger.btn-link {
  color: #ff3636;
}

.btn-danger.btn-link:hover,
.btn-danger.btn-link:focus,
.btn-danger.btn-link:active {
  background-color: transparent;
  color: #ff5555;
  text-decoration: none;
  box-shadow: none;
}

.btn-xs {
    padding: 1px 10px 1px 10px !important;
}

.btn-sm{
    padding: 5px 15px 5px 15px !important;
}


.btn-danger[disabled], .btn-primary[disabled], .btn-success[disabled], .btn-warning[disabled], .btn-secondary[disabled], .btn-danger[disabled]:hover, .btn-primary[disabled]:hover, .btn-success[disabled]:hover, .btn-warning[disabled]:hover{
	background-color: #f96332 !important;
    border-color: #f96332 !important;
	cursor: not-allowed;
	opacity: 0.5 !important;
    filter: alpha(opacity=50) !important;
}

.popover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #8DAAB8 !important; background-color: #fff !important;
}

.popover .popover-header{
	border-bottom: 1px solid #e8e8e8 !important;
	background-color: #DEE7EB !important;
	color: #ff4f03 !important;
}

.popover .popover-body{
	font-size: 11px !important;
}

.popover .popover-body p{
	margin:0 0 5px 0 !important; padding:0 !important;  font-size: 11px !important;
}

.bs-popover-auto .arrow::before,
.bs-popover-top .arrow::before, .bs-popover-auto[x-placement^="top"] .arrow::before,
.bs-popover-right .arrow::before, .bs-popover-auto[x-placement^="right"] .arrow::before,
.bs-popover-bottom .arrow::before, .bs-popover-auto[x-placement^="bottom"] .arrow::before,
.bs-popover-left .arrow::before, .bs-popover-auto[x-placement^="left"] .arrow::before {
  border-left-color: #8DAAB8 !important;
}

.card, .modal-content {
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  border: 0 !important;
}

.navbar {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border: 0 !important;
}

.navbar-toggler {
  padding: 0px !important;
  width: 20px;
  border: 0px !important;
  -webkit-transition: all 0.3s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -moz-transition: all 0.3s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -o-transition: all 0.3s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -ms-transition: all 0.3s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.3s cubic-bezier(0.685, 0.0473, 0.346, 1);
  margin-left: 20px;
  display: block !important;
  visibility: hidden !important;
}

.navbar-toggler:focus {
  outline: unset !important;
}

.navbar-toggler > .navbar-toggler-line {
  display: block;
  border-bottom: 1px solid #aaa;
  width: 100%;
  margin-bottom: 5px;
  height: 0px;
}

.navbar-toggler > .navbar-toggler-line:empty {
  display: block;
}

.navbar-toggler:hover {
  width: 30px;
  -webkit-transition: all 0.3s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -moz-transition: all 0.3s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -o-transition: all 0.3s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -ms-transition: all 0.3s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.3s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.navbar-toggler:hover .navbar-toggler-line {
  border-bottom: 1px solid #000;
}

/**-side bar-*/
.app-side-bar {
  width: 265px;
  position: fixed;
  z-index: 1040;
  border: 1px solid #f6f6f6;
  background: #fff;
  height: 100%;
  border-left: 0;
  top: 91px;
  left: 0;
}

.bar-head-profile > img {
  width: 30px;
  height: 30px;
}

.app-side-bar > .bar-head {
  position: relative;
}

.app-side-bar > .bar-body{
    overflow-y: auto;
    height: 68vh;
}

.app-side-bar > .bar-head > .close-btn {
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 2005;
  padding: 0px !important;
  width: 20px;
  border: 0px !important;
  background: transparent;
  cursor: pointer;
}

.app-side-bar > .bar-head > .close-btn:focus {
  outline: unset !important;
}

.app-side-bar > .bar-head > .close-btn > .frontslash,
.app-side-bar > .bar-head > .close-btn > .backslash {
  display: block;
  border-bottom: 1px solid #aaa;
  width: 100%;
  margin-bottom: 5px;
  height: 0px;
  /*-ms-transform: rotate(30deg); -webkit-transform: rotate(30deg); -moz-transform: rotate(30deg); -o-transform: rotate(30deg); transform: rotate(30deg);*/
}

.app-side-bar > .bar-head > .close-btn > .frontslash:empty,
.app-side-bar > .bar-head > .close-btn > .backslash:empty {
  display: block;
}

.app-side-bar > .bar-head > .close-btn > .frontslash {
  -ms-transform: rotate(46deg);
  -webkit-transform: rotate(46deg);
  -moz-transform: rotate(46deg);
  -o-transform: rotate(46deg);
  transform: rotate(46deg);
  -webkit-transform-origin: 34% 10%;
  -ms-transform-origin: 34% 10%;
  -moz-transform-origin: 34% 10%;
  -o-transform-origin: 34% 10%;
  transform-origin: 34% 10%;
}

.app-side-bar > .bar-head > .close-btn > .backslash {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 28% 10%;
  -ms-transform-origin: 28% 10%;
  -moz-transform-origin: 28% 10%;
  -o-transform-origin: 28% 10%;
  transform-origin: 28% 10%;
}

.app-side-bar > .bar-head > .close-btn:hover span {
  border-bottom-color: #fff;
}

.app-side-bar > .bar-body > a {
  padding: 10px 15px 10px 25px;
  display: block;
  width: 100%;
  text-decoration: none !important;
  color: #003d69; font-weight: 400;
  font-size: 14px;
  font-family: "Prompt", sans-serif;
}

.app-side-bar > .bar-body > a > i{
    opacity: 0.4;
}

.app-side-bar > .bar-body > a:hover {
  background: #eee;
}

.app-side-bar > .bar-body > .divider {
  display: block;
  height: 1px;
  border-bottom: 1px solid #f3f3f3;
  padding: 0;
  margin: 0;
}

/*--*/
.mode-sm .app-side-bar {
  -webkit-transform: translate3d(-281px, 0, 0);
  -ms-transform: translate3d(-281px, 0, 0);
  -moz-transform: translate3d(-281px, 0, 0);
  -o-transform: translate3d(-281px, 0, 0);
  transform: translate3d(-281px, 0, 0);
  -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.mode-sm-open .app-side-bar {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.mode-lg .navbar-toggler {
  visibility: hidden !important;
}

.mode-sm .navbar-toggler {
  visibility: visible !important;
}

.mode-sm-open .navbar-toggler,
.mode-lg .close-btn {
  visibility: hidden !important;
}

.navbar .container {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0px;
  vertical-align: top !important;
  align-items: flex-start !important;
}

.right2left,
.fixed-right {
  text-align: right !important;
}


/*-theme form -*/
::-webkit-input-placeholder {
  color: #ddd !important;
  font-size: 11px !important;
}
::-moz-placeholder {
  color: #ddd !important;
  font-size: 11px !important;
}
:-ms-input-placeholder {
  color: #ddd !important;
  font-size: 11px !important;
}
::placeholder {
  color: #ddd !important;
  font-size: 11px !important;
}

.checkbox {
  display: block;
  position: relative;
}

.checkbox label {
  font-size: 14px !important;
  padding-left: 10px;
  cursor: pointer;
}

.checkbox label:before {
  width: 20px;
  height: 20px;
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #003d69;
}

.checkbox label:after {
  display: block;
  content: " ";
  position: absolute;
  top: 10px;
  left: 8px;
  width: 0px;
  height: 0px;
  border: solid red;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  visibility: hidden;
  transition: all 0.1s ease;
}

.checkbox input {
  visibility: hidden;
}

.checkbox input[type="checkbox"]:checked + label:before {
  border: 1px solid #fa7a50;
}

.checkbox input[type="checkbox"]:checked + label:after {
  visibility: visible;
  width: 5px;
  height: 12px;
  top: 2px;
  left: 8px;
  transition: all 0.2s ease;
}

/*-radio-*/
.radioBox {
  display: block;
  position: relative;
}
 
.radioBox label {
  font-size: 14px !important;
  padding-left: 10px;
  cursor: pointer;
}

.radioBox label:before {
  width: 20px;
  height: 20px;
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #003d69;
  border-radius: 50%;
}

.radioBox label:after {
  display: block;
  content: " ";
  position: absolute;
  top: 9px;
  left: 9px;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: red;
  visibility: hidden;
}

.radioBox input {
  visibility: hidden;
}

.radioBox input[type="radio"]:checked + label:before {
  border: 1px solid #fa7a50;
}

.radioBox input[type="radio"]:checked + label:after {
  visibility: visible;
  width: 8px;
  height: 8px;
  top: 6px;
  left: 6px;
  transition: all 0.3s ease;
}

/* input-like dropdown */
#payment-modal .dropdown{
	position:relative !important;
}

#payment-modal .dropdown .dropdown-menu .dropdown-item{
	color: #003d69 !important;
	font-size: 14px !important;
}

#payment-modal .dropdown  button.btn,
#payment-modal .dropdown .btn-secondary{
	color: #003d69;
  background-color: #fff !important;
  border-color: #000;
	border:0 !important;
	border-bottom:1px solid #ccc !important;
	border-radius: 0 !important;
	font-size: 14px !important;
	padding: 10px 18px 5px 10px !important;
}

#payment-modal .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    position: absolute !important;
    right: .75rem;
    top: 10px;
}

#payment-modal .dropdown .btn-secondary:not(:disabled):not(.disabled).active,
#payment-modal .dropdown .btn-secondary:not(:disabled):not(.disabled):active,
#payment-modal .dropdown .show > .btn-secondary.dropdown-toggle,
 #payment-modal .dropdown .btn-secondary.dropdown-toggle:hover{
    color: #003d69 !important;
    outline: unset !important;
    border-bottom: 1px solid #003d69 !important;
    box-shadow: none !important;
}

#payment-modal .dropdown .dropdown-menu{
    width: 100% !important;
    border-top: 0 !important;
    border-radius : 0 0 .25rem .25rem !important;
    -webkit-border-radius : 0 0 .25rem .25rem !important;
    -moz-border-radius : 0 0 .25rem .25rem !important;
    -o-border-radius : 0 0 .25rem .25rem !important;
    -ms-border-radius : 0 0 .25rem .25rem !important;
}

.dropdown-like-input .dropdown{
	position:relative !important;
}

.dropdown-like-input .dropdown .dropdown-menu .dropdown-item{
    color: #003d69 !important;
    font-size: 14px !important;
}

.dropdown-like-input .dropdown .show > .btn,
.dropdown-like-input .dropdown  .btn,
.dropdown-like-input .dropdown .btn-secondary,
.dropdown-like-input .dropdown .show > .btn-secondary{
    color: #003d69;
    background-color: #fff !important;
    border-color: #000;
    border:0 !important;
    border-bottom:1px solid #ccc !important;
    border-radius: 0 !important;
    font-size: 14px !important;
    padding: 10px 18px 5px 10px !important;
}

.dropdown-like-input .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    position: absolute !important;
    right: .75rem;
    top: 10px;
}

.dropdown-like-input .dropdown .btn-secondary:not(:disabled):not(.disabled).active,
.dropdown-like-input .dropdown .btn-secondary:not(:disabled):not(.disabled):active,
.dropdown-like-input .dropdown .show > .btn-secondary.dropdown-toggle,
.dropdown-like-input .dropdown .btn-secondary.dropdown-toggle:hover,
.dropdown-like-input .dropdown .show > .btn-secondary.dropdown-toggle:hover{
    color: #003d69 !important;
    outline: unset !important;
    border-bottom: 1px solid #003d69 !important;
    box-shadow: none !important;
}

.dropdown-like-input .dropdown .dropdown-menu{
    width: 100% !important;
    border-top: 0 !important;
    border-radius : 0 0 .25rem .25rem !important;
    -webkit-border-radius : 0 0 .25rem .25rem !important;
    -moz-border-radius : 0 0 .25rem .25rem !important;
    -o-border-radius : 0 0 .25rem .25rem !important;
    -ms-border-radius : 0 0 .25rem .25rem !important;
}

/* parsley */
.parsley-errors-list{
    list-style : none !important; margin: 5px 0 0 0; padding:0;
}

.parsley-errors-list li{
    font-size: 11px; color :  #d0021b;
}

/*-input text : bootstrap modify-*/
.form-group-main select.form-control:not([size]):not([multiple]), .form-group-orange select.form-control:not([size]):not([multiple]) {
     height: calc(2.25rem + 6px) !important;
 }

.form-group-main label {
  font-size: 14px !important;
  color: rgba(0, 61, 105, 0.6) !important;
  margin-bottom: 0 !important;
}
.form-group-main .form-control[type='text'], .form-group-main textarea, .form-group-main select, .form-group-main .form-control[type='tel']{
  border: 0 !important;
  border-bottom: 1px solid #ccc !important;
  border-radius: unset !important;
  outline: unset !important;
  box-shadow: none !important;
  padding: 10px 10px 5px 10px;
  color: #003d69 !important;
  font-size: 14px !important;
}

.form-group-main .form-control[type='text']:focus, .form-group-main textarea:focus, .form-group-main select:focus, .form-group-main .form-control[type='tel']:focus {
  outline: unset !important;
  border-bottom: 1px solid #003d69 !important;
  box-shadow: none !important;
}

.form-group-orange label {
  font-size: 14px !important;
  color: #fa7a50;
  margin-bottom: 0 !important;
}
.form-group-orange .form-control[type='text'], .form-group-orange textarea, .form-group-orange select{
  border: 0 !important;
  border-bottom: 1px solid #ccc !important;
  border-radius: unset !important;
  outline: unset !important;
  box-shadow: none !important;
  color: #003d69;
  padding: 10px 10px 5px 10px !important;
}

.form-group-orange .form-control[type='text']:focus, .form-group-orange textarea:focus, .form-group-orange select:focus{
  outline: unset !important;
  border-bottom: 1px solid #fa7a50 !important;
  box-shadow: none !important;
}

.form-group-rounded-orange label {
  margin-left: 16px;
}

.form-group-rounded-orange .form-control {
  border: 1px solid #e3e3e3 !important;
  border-radius: 30px !important;
  outline: unset !important;
  box-shadow: none !important;
  color: #003d69 !important;
  padding: 10px 18px 10px 16px;
  position: relative;
  font-size: 14px !important;
}

.form-group-rounded-orange .form-control:focus {
  border: 1px solid #fa7a50 !important;
}

/*right 2 left*/
ul.list-r2left {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul.list-r2left li {
  width: 50%;
  margin: 0;
  padding: 0 0 10px 0;
}

ul.list-r2left li:last-child {
  text-align: right !important;
}

/*center*/
ul.list-r2center {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul.list-r2center li {
  width: 90%;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.list-r2center li:last-child {
  text-align: right !important;
  width: 10%;
}

/*fix right*/
ul.list-fixed-right {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul.list-fixed-right li {
  width: 50%;
  margin: 0;
  padding: 0;
}

ul.list-fixed-right li:last-child {
  text-align: right !important;
  width: 50%;
}

/* float right to left */
.float-right-to-left{
    float: right !important;
    text-align:left !important;
}

ul.right-justify-col-sm{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
}

ul.right-justify-col-sm li{
    width:100%; text-align: right !important;
}


/* Blue Login */
body.loginBody .section-login {
  color: #ffffff;
}
body.loginBody .switch-lang {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 9;
}
body.loginBody input.login-username, body.loginBody input.login-username::placeholder, body.loginBody input.login-username::-webkit-input-placeholder { 
  text-align: center; 
}
body.loginBody .section-login button{
  padding: .5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .3rem !important;
}

body.loginBody .app-details ul li {
  text-align: left;
}
body.loginBody .app-details picture>img {
  max-width: 230px;
}

body.loginBody .line-text {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body.loginBody .line-text:before, body.loginBody .line-text:after {
  content: '';
  border-top: 1px solid #cccccc;
  margin: 0 20px;
  flex: 1 0 20px;
}

body.loginBody .form-control {
  font-size: 1rem;
}

body.loginBody .btn{
  border-radius: .25rem !important; font-size: inherit;
}

/**------Blue OTP------------**/

body.loginBody .custom-control.custom-radio {
  min-height: 2rem;
}
body.loginBody .custom-radio .custom-control-input:checked~.custom-control-label::before, body.loginBody .custom-control-input:checked~.custom-control-label::before {
  background-color: #ff5011;
}
body.loginBody .custom-radio .custom-control-label {
  font-size: 18px;
}
body.loginBody .custom-control-label::before, body.loginBody .custom-control-label::after {
  top: .35rem;
}

/**-------------**/
.a2round {
  position: absolute;
  right: 0.7vw;
  top: -5px;
  padding: 0px;
  margin: 0;
  width: 20px;
  min-width: 20px;
  height: 20px;
  background-color: #FFF;
  color: #003b71;
  display: block;
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 0px solid rgba(255,255,255,0);
  -moz-box-shadow: rgb(00,59,113) 0 1px 5px 0;
  box-shadow: rgb(00,59,113) 0 1px 5px 0;
  cursor: pointer;
  text-align: center;
}

/*-Media Queries-*/
@media (max-width: 500px) {
    .pl-md-1,.pl-md-2,.pl-md-3,.pl-md-4,.pl-md-5{
        padding-left: 0 !important;
    } 
    
    .ml-md-1,.ml-md-2,.ml-md-3,.ml-md-4,.ml-md-5{
        margin-left: 0 !important;
    }

    body.loginBody #login-myaccount{
      font-size: 1.3rem;
    }
}

@media (max-width: 770px) {
  #referfriend-icon{
      right:95px; top:62px;
  }
  .right2left {
    text-align: left !important;
  }

  ul.list-r2left {
    flex-wrap: wrap;
  }

  ul.list-r2left li {
    width: 100%;
  }

  ul.list-r2left li:last-child {
    text-align: left !important;
  }

  ul.list-r2center {
    flex-wrap: wrap;
  }

  ul.list-r2center li {
    width: 100%;
  }

  ul.list-r2center li:last-child {
    text-align: center !important;
    margin-top: 15px;
    width: 100%;
  }
  
  .text-right-left{
	text-align: left !important;	
	}

	.text-right-center{
		text-align: center !important;	
	}

	.text-center-right{
		text-align: right !important;	
	}

	.text-center-left{
		text-align: left !important;	
	}

	.text-left-right{
		text-align: right !important;	
	}

	.text-left-center{
		text-align: center !important;	
	}

	.float-right-to-left{
      float: unset !important;
      text-align:left !important;
  }

  ul.right-justify-col-sm{
      flex-wrap: nowrap !important;
  }
  ul.right-justify-col-sm li{
      width:50% !important;
  }

  ul.right-justify-col-sm li:first-child{
      width:50% !important; text-align: left !important;
  }

  ul.right-justify-col-sm li:last-child{
      width:50% !important; text-align: right !important;
  }
}

@media (min-width: 768px) {
            
  body.loginBody {
        height: 100vh;
        background-image: url('/assets/images/bg-acc-login.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
    body.loginBody:before {
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 0;
        background-color: rgba(0, 59, 113, 0.85);
    }
        
    body.loginBody .app-details {
        border-left: 1px solid;
    }
    body.loginBody .content-center {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%,-50%);
        text-align: center;
        padding: 0 15px;
        width: 100%;
        max-width: 880px;
    }

  }

@media (min-width: 800px) and (max-width: 1026px) {
  .mode-lg .wrapper {
    width: 70% !important;
    min-height: 400px;
    -webkit-transform: translate3d(280px, 0, 0) !important;
    -ms-transform: translate3d(280px, 0, 0);
    -moz-transform: translate3d(280px, 0, 0) !important;
    -o-transform: translate3d(280px, 0, 0) !important;
    transform: translate3d(280px, 0, 0) !important;
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }

  /*.mode-lg .navbar .container-fluid {
    width: 70%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    -webkit-transform: translate3d(280px, 0, 0) !important;
    -ms-transform: translate3d(280px, 0, 0);
    -moz-transform: translate3d(280px, 0, 0) !important;
    -o-transform: translate3d(280px, 0, 0) !important;
    transform: translate3d(280px, 0, 0) !important;
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  } */
}

@media (min-width: 1026px) and (max-width: 1280px) {
  .mode-lg .wrapper {
    width: 75% !important;
    min-height: 400px;
    -webkit-transform: translate3d(300px, 0, 0) !important;
    -ms-transform: translate3d(300px, 0, 0);
    -moz-transform: translate3d(300px, 0, 0) !important;
    -o-transform: translate3d(300px, 0, 0) !important;
    transform: translate3d(300px, 0, 0) !important;
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }

 /* .mode-lg .navbar .container-fluid {
    width: 75%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    -webkit-transform: translate3d(300px, 0, 0) !important;
    -ms-transform: translate3d(300px, 0, 0);
    -moz-transform: translate3d(300px, 0, 0) !important;
    -o-transform: translate3d(300px, 0, 0) !important;
    transform: translate3d(300px, 0, 0) !important;
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  } */
}

@media (min-width: 1281px) and (max-width: 1536px) {
  .mode-lg .wrapper {
    width: 74% !important;
    min-height: 761px;
    -webkit-transform: translate3d(320px, 0, 0) !important;
    -ms-transform: translate3d(320px, 0, 0);
    -moz-transform: translate3d(320px, 0, 0) !important;
    -o-transform: translate3d(320px, 0, 0) !important;
    transform: translate3d(320px, 0, 0) !important;
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }

 /* .mode-lg .navbar .container-fluid {
    width: 74%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    -webkit-transform: translate3d(320px, 0, 0) !important;
    -ms-transform: translate3d(320px, 0, 0);
    -moz-transform: translate3d(320px, 0, 0) !important;
    -o-transform: translate3d(320px, 0, 0) !important;
    transform: translate3d(320px, 0, 0) !important;
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  } */
}

@media (min-width: 1537px) {
  .mode-lg .wrapper {
    width: 80% !important;
    min-height: 761px;
    -webkit-transform: translate3d(320px, 0, 0) !important;
    -ms-transform: translate3d(320px, 0, 0);
    -moz-transform: translate3d(320px, 0, 0) !important;
    -o-transform: translate3d(320px, 0, 0) !important;
    transform: translate3d(320px, 0, 0) !important;
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }

 /* .mode-lg .navbar .container-fluid {
    width: 80%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    -webkit-transform: translate3d(320px, 0, 0) !important;
    -ms-transform: translate3d(320px, 0, 0);
    -moz-transform: translate3d(320px, 0, 0) !important;
    -o-transform: translate3d(320px, 0, 0) !important;
    transform: translate3d(320px, 0, 0) !important;
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }*/
}


/*-------- rewards ------------------*/
.flex-box{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.flex-box > .box-item{
    width: 260px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 15px;
    height: 400px;
    position: relative;
}

.flex-box > .box-item > .item-img-wrapper{
    width: 100%; margin-bottom: 15px;
}

.flex-box > .box-item > .item-img-wrapper  img{
    width: 100%; max-width: 100%; height: 275px;
}

.flex-box > .box-item > .item-description{
    text-align: center;
}

/* ---- --- */

@media (max-width:1600px){
    
}

@media (max-width:1440px){
    
}

@media (max-width:1366px){
    .flex-box{
        flex-direction: row;
    }
    
    .flex-box > .box-item{
        width: 260px; text-align: center; height: 360px; margin-bottom: 30px; margin-left: 15px; margin-right: 15px;
    }
    
    .flex-box > .box-item > .item-img-wrapper{
        width: 100%; text-align: center; margin: 0 auto 15px auto;
    }
    
    .flex-box > .box-item > .item-img-wrapper  img{
        width: 100%; max-width: 100%; height: 245px;
    }
}

@media (max-width:1280px){
    .flex-box{
        flex-direction: row; 
    }
    
    .flex-box > .box-item{
        width: 255px; text-align: center; height: 360px; margin-bottom: 30px; margin-left: 10px; margin-right: 10px;
    }
    
    .flex-box > .box-item > .item-img-wrapper{
        width: 100%; text-align: center; margin: 0 auto 15px auto;
    }
    
    .flex-box > .box-item > .item-img-wrapper  img{
        width: 100%; max-width: 100%; height: 235px;
    }
}

@media (max-width:1152px){
    .flex-box{
        flex-direction: row;
    }
    
    .flex-box > .box-item{
        width: 235px; text-align: center; height: 360px; margin-bottom: 30px; margin-left: 10px; margin-right: 10px;
    }
    
    .flex-box > .box-item > .item-img-wrapper{
        width: 100%; text-align: center; margin: 0 auto 15px auto;
    }
    
    .flex-box > .box-item > .item-img-wrapper  img{
        width: 100%; max-width: 100%; height: 230px;
    }
}

@media (max-width:1080px){
    .flex-box{
        flex-direction: row;
    }
    
    .flex-box > .box-item{
        width: 220px; text-align: center; height: 350px; margin-bottom: 30px; margin-left: 10px; margin-right: 10px;
    }
    
    .flex-box > .box-item > .item-img-wrapper{
        width: 100%; text-align: center; margin: 0 auto 15px auto;
    }
    
    .flex-box > .box-item > .item-img-wrapper  img{
        width: 100%; max-width: 100%; height: 225px;
    }
}

@media (max-width:1024px){
    .flex-box{
        flex-direction: row;
    }
    
    .flex-box > .box-item{
        width: 190px; text-align: center; height: 314px; margin-bottom: 30px; margin-left: 10px; margin-right: 10px;
    }
    
    .flex-box > .box-item > .item-img-wrapper{
        width: 100%; text-align: center; margin: 0 auto 15px auto;
    }
    
    .flex-box > .box-item > .item-img-wrapper  img{
        width: 100%; max-width: 100%; height: 207px;
    }
}

@media (max-width:960px){
    .flex-box{
        flex-direction: row;
    }
    
    .flex-box > .box-item{
        width: 260px; text-align: center; height: 350px; margin-bottom: 35px; margin-left: 15px; margin-right: 15px;
    }
    
    .flex-box > .box-item > .item-img-wrapper{
        width: 100%; text-align: center; margin: 0 auto 15px auto;
    }
    
    .flex-box > .box-item > .item-img-wrapper  img{
        width: 100%; max-width: 100%; height: 250px;
    }
}

@media (max-width:800px){
    .flex-box{
        flex-direction: row;
    }
    
    .flex-box > .box-item{
        width: 270px; text-align: center; height: 365px; margin-bottom: 25px; margin-left: 35px; margin-right: 35px;
    }
    
    .flex-box > .box-item > .item-img-wrapper{
        width: 100%; text-align: center; margin: 0 auto 15px auto;
    }
    
    .flex-box > .box-item > .item-img-wrapper  img{
        width: 100%; max-width: 100%; height: 255px;
    }
}

@media (max-width:736px){
    .flex-box{
        flex-direction: row;
    }
    
    .flex-box > .box-item{
        width: 270px; text-align: center; height: 370px; margin-bottom: 20px; margin-left: 25px; margin-right: 25px;
    }
    
    .flex-box > .box-item > .item-img-wrapper{
        width: 100%; text-align: center; margin: 0 auto 15px auto;
    }
    
    .flex-box > .box-item > .item-img-wrapper  img{
        width: 100%; max-width: 100%; height: 260px;
    }
}

@media (max-width:640px){
    .flex-box{
        flex-direction: row; justify-content: center;
    }
    
    .flex-box > .box-item{
        width: 258px; text-align: center; height: 350px; margin-bottom: 30px; margin-left: 10px; margin-right: 10px;
    }
    
    .flex-box > .box-item > .item-img-wrapper{
        width: 100%; text-align: center; margin: 0 auto 15px auto;
    }
    
    .flex-box > .box-item > .item-img-wrapper  img{
        width: 100%; max-width: 100%; height: 235px;
    }
}

@media (max-width:540px){
    .flex-box{
        flex-direction: column; justify-content: center; width: 100%;
    }
    
    .flex-box > .box-item{
        width: 100%; text-align: center; height: auto; margin-bottom: 35px; margin-left: 0px; margin-right: 0px;
    }
    
    .flex-box > .box-item > .item-img-wrapper{
        width: 60%; text-align: center; margin: 0 auto 15px auto;
    }
    
    .flex-box > .box-item > .item-img-wrapper  img{
        width: 100%; max-width: 100%; height: 255px;
    }
}

@media (max-width:480px){
    .flex-box{
        flex-direction: column; justify-content: center; width: 100%;
    }
    
    .flex-box > .box-item{
        width: 100%; text-align: center; height: auto; margin-bottom: 35px; margin-left: 0px; margin-right: 0px;
    }
    
    .flex-box > .box-item > .item-img-wrapper{
        width: 63%; text-align: center; margin: 0 auto 15px auto;
    }
    
    .flex-box > .box-item > .item-img-wrapper  img{
        width: 100%; max-width: 100%; height: 220px;
    }
}

@media (max-width:414px){
    .flex-box{
        flex-direction: column; justify-content: center; width: 100%;
    }
    
    .flex-box > .box-item{
        width: 100%; text-align: center; height: auto; margin-bottom: 20px; margin-left: 0px; margin-right: 0px;
    }
    
    .flex-box > .box-item > .item-img-wrapper{
        width: 75%; text-align: center; margin: 0 auto 15px auto;
    }
    
    .flex-box > .box-item > .item-img-wrapper  img{
        width: 100%; max-width: 100%; height: 225px;
    }
}

@media (max-width:320px){
    .flex-box{
        flex-direction: column; justify-content: center; width: 100%;
    }
    
    .flex-box > .box-item{
        width: 100%; text-align: center; height: auto; margin-bottom: 20px; margin-left: 0px; margin-right: 0px;
    }
    
    .flex-box > .box-item > .item-img-wrapper{
        width: 80%; text-align: center; margin: 0 auto 15px auto;
    }
    
    .flex-box > .box-item > .item-img-wrapper  img{
        width: 100%; max-width: 100%; height: 190px;
    }
}

@media(max-height:580px){
    .app-side-bar > .bar-body{
        overflow-y: auto;
        height: 66vh;
    }
}

@media(max-height:480px){
    .app-side-bar > .bar-body{
        overflow-y: auto;
        height: 59vh;
    }
}

@media(max-height:320px){
    .app-side-bar > .bar-body{
        overflow-y: auto;
        height: 39vh;
    }
}
.wrapper {
  margin-top: 60px !important;
  padding: 0px !important;
}